absl-py
aniso8601
astor
backcall
certifi
chardet
Click
colorama
cycler
Cython
decorator
Flask
Flask-RESTful
gast
google-pasta
grpcio
h5py
idna
imageai
ipython-genutils
itsdangerous
jedi
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
nltk
numpy
opencv-python
pexpect
pickleshare
Pillow
pip
prompt-toolkit
protobuf
ptyprocess
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
pyparsing
pypiwin32
PyRect
PyScreeze
pytesseract
python-dateutil
PyTweening
pytz
pywin32
PyYAML
scipy
setuptools
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
traitlets
urllib3
wcwidth
Werkzeug
wheel
win-unicode-console
win32core
win32gui
wrapt
